<!--Authors: Sonja Lavin, Flora Zhang
 Contents: Seattle Prenatal Clinic -->
<main>
    <section>
        <article>
            <p>The database as been reset.</p>
        </article>
    </section>
</main>


